<p style="text-align: center;">
 - [A glossary of terms used in SCRUM](glossary.md) 
 - [A step by step guide to the SCRUM process using JIRA](inpractice.md)
 - [Tips such as the difference between vision statements and mission statements](tips_for_scrum.md)
 - [Who are we?](team.md) 
  <a href="{{site.baseurl}}/">Home</a> |
  <a href="{{site.baseurl}}/inpractice.html/">Guide</a> | 
  <a href="{{site.baseurl}}/tips.html">Tips</a> | 
  <a href="{{site.baseurl}}/glossary.html">Glossary</a> | 
  <a href="{{site.baseurl}}/team.html">Meet the team</a>
</p>
